a {
  color: #2a6e17;
  text-decoration: none;
}
a:hover,
a:focus {
  color: #2a6496;
  text-decoration: underline;
}
input.btn-success[type="submit"] {
    border: 0 none;
}
.dane-content .btn-primary {
    background-color: #5cb85c;
    border-color: #4cae4c;
    color: #fff;
}
.dane-content .btn-primary:hover, .dane-content .btn-primary:focus, .dane-content .btn-primary:active, .dane-content .btn-primary.active, .dane-content .open > .dropdown-toggle.btn-primary {
    background-color: #449d44;
    border-color: #398439;
    color: #fff;
}
.margines{padding: 40px;}
span.tooltip{
  position: relative;
  display: inline;
  color: #91342d;
  line-height: 24px;
}
span.tooltip:after{
  display: block;
  visibility: hidden;
  position: absolute;
  bottom: 0;
  left: 20%;
  opacity: 0;
  content: attr(data-tool); /* might also use attr(title) */
  height: auto;
  min-width: 160px;
  padding: 5px 8px;
  z-index: 999;
  color: #fff;
  text-decoration: none;
  text-align: left;
  background: rgba(0,0,0,0.85);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

span.tooltip:before {
  position: absolute;
  visibility: hidden;
  width: 0;
  height: 0;
  left: 50%;
  bottom: 0px;
  opacity: 0;
  content: "";
  border-style: solid;
  border-width: 6px 6px 0 6px;
  border-color: rgba(0,0,0,0.85) transparent transparent transparent;
}
span.tooltip:hover:after{ visibility: visible; opacity: 1; bottom: 20px; }
span.tooltip:hover:before{ visibility: visible; opacity: 1; bottom: 14px; }

span.tooltip.animate:after, span.tooltip.animate:before {
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
/* tips on the left */
span.tooltip.ileft:after { left: auto; right: 100%; bottom: -45%; }
span.tooltip.ileft:hover:after { right: 110%; bottom: -45%; }
span.tooltip.ileft:before {
  border-width: 5px 0 5px 10px;
  border-color: transparent transparent transparent rgba(0,0,0,0.85);
  left: auto;
  right: 90%;
  bottom: 2%;
}
span.tooltip.left:hover:before { right: 100%; bottom: 2%; }


/* tooltip colors (add your own!) */
span.tooltip.blue:after { background:#fff4d7; }
span.tooltip.blue:before { border-color: #fff4d7 transparent transparent transparent; }
span.tooltip.bottom.blue:before{ border-color: transparent transparent #fff4d7 transparent; }
span.tooltip.iright.blue:before { border-color: transparent #fff4d7 transparent transparent; }
span.tooltip.left.blue:before { border-color: transparent transparent transparent #fff4d7; }
  

.info{
    font-size: 20px;
    color: red;
	padding-right:10px;
vertical-align: sub;
cursor: pointer;
	}

tbody.semester .data.nn > td:not(.dataExpanded) {background:#e5ffe5}
tbody.semester .data.tn > td:not(.dataExpanded) {background:#ffe8e3}



	
#reklamacjeLegenda {
	border-radius: 5px;
}
#reklamacjeLegenda table {
	border-collapse: separate;
	border-spacing: 3px;
	margin: 10px 0;
}
#reklamacjeLegenda td {
	border: 0;
	width: auto;
}
#reklamacjeLegenda td:first-child {
	height: 40px;
	width: 100px;
	border: 1px solid #F0F0F0;
	border-radius: 5px;
	text-align: center;
	vertical-align: middle;
}
.k_white{
	background: none repeat scroll 0 0 #ffffff;
    color: #000000;
    padding: 1px 4px;
    text-shadow: none;
	margin: 0 1px;
} 
.k_red{background: none repeat scroll 0 0 #ffe8e3;
    color: #D14F00;
    padding: 1px 4px;
    text-shadow: none;
	margin: 0 1px;}
.k_yellow{background: none repeat scroll 0 0 #FFFfef;
    color: #F5D11E;
    padding: 1px 4px;
    text-shadow: none;
	margin: 0 1px;}
.k_green{background: none repeat scroll 0 0 #e5ffe5;
    color: #28A007;
    padding: 1px 4px;
    text-shadow: none;
	margin: 0 1px;}
.dane-content, .dane-content-zdjecie, .dane-rza{
margin-top: 0px;
width: 100%;
padding-bottom: 0px;
}

#page
{
	margin-top: 5px;
	margin-bottom: 5px;
	background: white;
	border: 1px solid #C9E0ED;
}

#pagination{ text-align:right;}

#content
{
    padding: 0px;
    overflow: hidden;
}




#logo
{
	padding: 10px 20px;
	font-size: 200%;
}

#mainmenu
{
	float: right;
    height: 25px;
    width: 100%;
}

#mainmenu ul
{
	background:none;
	padding:0px 20px 5px 20px;
	margin:0px;
	text-align: right;
    
}

#mainmenu  li > a{
	float: right;

	
}

#mainmenu ul li a
{
	background-color: none;	
	color:#fff;
	font-size:12px;
	font-weight:bold;
	text-decoration:none;

}

 
 p.naglowek {
	border-radius:5px;
	font-weight:bold;
	max-width:intrinsic;
	min-width:200px;
	  padding:3px 9px;
	 border-radius:5px 5px 5px 5px;
    -webkit-border-radius:5px 5px 5px 5px;
	-moz-border-radius:5px 5px 5px 5px;
	background-color: #FFFFFF;
	border: 1px solid #C2C1C1;
}

 p.naglowek_wiadomosci {
	 border-radius:5px 5px 5px 5px;
    -webkit-border-radius:5px 5px 5px 5px;
	-moz-border-radius:5px 5px 5px 5px;
	background-color: #FFFFFF;
    font-weight: bold;
    padding: 3px 9px 3px 9px;
	border: 1px solid #C2C1C1;
	max-width:  intrinsic;         /* Safari/WebKit */
    max-width:  -moz-max-content;  /* Firefox/Gecko */
}

#design_1 td {
	padding: 5px 5px 5px 10px;
	vertical-align: middle;
}

#design_wpis td {
padding: 5px 5px 3px 10px;
    vertical-align: middle;
	height: 34px;
	display: block;
	border-top:1px solid #ddd;
}
table#design_wpis{

	margin-top: -20px;
}

.fota td {
	
	vertical-align: top;
}
#design_1  th {
	padding-right: 10px;
	text-align: left;
	background: none;
	width: 32%;
	
} 

.dane-content table {
   
    margin: 0 0 2.625em;
    width: 100%;
}

.dane-content img{
  
    padding: 15px 0;
	float: right;
}
.dane-content.dane img {
    
    float: none;
    max-width: 167px;
    padding: 15px 0;
    text-align: right;
    
}
.dane-content td {

	padding-left: 5px;
    text-align: left;
}



table#tabelaHTML {
	float: left;
}
#tabelaHTML th{
	background-color:#9A342D;
    border-right: 1px solid #FFFFFF;
    color: #FFFFFF;
    font-weight: bold;
}
 
 
 #tabelaHTML th:first-child{
	background-color: #9A342D;
	background-image: none; 

}

 .dane-content-zdjecie img{
   
  background: url("../../images/cien.png") no-repeat scroll right bottom transparent;
    margin-top: 20px;
    padding: 0px 7px 25px 0;
}
 
/*.listaTable tbody tr:hover td:not(.empty) {
    background: none repeat scroll 0 0 #F0F1F1;
	cursor: pointer;
}*/
#prowadzacy-search-grid.grid-view .filters input, #prowadzacy-search-grid.grid-view .filters select {
     background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    border: medium none;
    width: 100%;
}

.notClickable tbody tr:hover td {
	cursor: default !important;
}

#listaWiadomosci tr.unread td {
	font-weight: bold;
}

table.withFilters  { border-collapse: separate; border-spacing: 0; }
/*
.withFilters td {
    border: solid 1px #ddd;
    border-style: none solid solid none;
    padding: 4px;
}
.withFilters tr.data td.dataExpanded .leftColumn { 
   float: left;
    line-height: 20px;
    margin-top: 10px;
    padding-left: 30px;
    width: 47%;
}
.withFilters tr.data td.dataExpanded .rightColumn {    
	   float: left;
    line-height: 20px;
    margin-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    width: 45%;
}

.withFilters  tr.nt:hover td:not(.dataExpanded) {
    background: none repeat scroll 0 0 #F0F1F1;
}
.withFilters  tr.nn:hover td:not(.dataExpanded) {
    background: none repeat scroll 0 0 #F0F1F1;
}
.withFilters tr.tn:hover td:not(.dataExpanded) {
    background: none repeat scroll 0 0 #e9d5d0;
}
.withFilters tr.tt:hover td:not(.dataExpanded) {
    background: none repeat scroll 0 0 #eeeedf;
}
/*
.listaTable tbody tr:not(.szczegoly):hover td:not(.empty) {
    background: #f0f1f1 none repeat scroll 0 0;
    cursor: pointer;
}
*/
table#grupyZajec tr.szczegoly td .leftColumn, table tbody.semester tr td .shadow .leftColumn {
    float: left;
    line-height: 20px;
    margin-top: 10px;
    padding-left: 10px;
    width: 44%;
	margin-bottom: 10px;
}
table#grupyZajec tr.szczegoly td .rightColumn, table tbody.semester tr td .shadow .rightColumn {
    float: left;
    line-height: 20px;
    margin-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    width: 56%;
	margin-bottom: 10px;
}



table#grupyZajec tr.szczegoly td  .rlcol, table tbody.semester tr td .shadow   .rlcol, table tbody.semester tr td .shadow   .Drlcol{
 
    float: left;
    font-weight: bold;
    line-height: 24px;
    text-align: left;
    width: 29%;
	border-bottom: 2px solid green;
}


table#grupyZajec tr.szczegoly td  .rrcol, table tbody.semester tr td .shadow  .rrcol, table tbody.semester tr td .shadow  .Drrcol{
       color: #6b6b6b;
    float: left;
    font-weight: normal;
    height: auto;
    line-height: 25px;
    border-bottom: 1px dotted green;
    text-align: left;
    width: 71%;
	padding-left: 10px;
}
table#listaOplat tr td .leftColumn {
    float: left;
    line-height: 20px;
    margin-bottom: 10px;
    margin-top: 10px;
    padding-left: 10px;
    width: 44%;
}
table#listaOplat tr td .rightColumn {
    float: left;
    line-height: 20px;
    margin-bottom: 10px;
    margin-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    width: 56%;
}

table#listaOplat tr td .rlcol, table#listaOplat tr td .Drlcol {
    border-bottom: 2px solid green;
    float: left;
    font-weight: bold;
    line-height: 24px;
    text-align: left;
    width: 29%;
}
table#listaOplat tr td .rlcol, table#listaOplat tr td .Drlcol.przycisk {
    border-bottom: 2px solid green;
}

table#listaOplat tr td .rrcol,table#listaOplat tr td  .Drrcol {
    border-bottom: 1px dotted green;
    color: #6b6b6b;
    float: left;
    font-weight: normal;
    height: auto;
    line-height: 25px;
    padding-left: 10px;
    text-align: left;
    width: 71%;
}


.rlcol{ float: left;
    width: 40%; text-align:right; font-weight: bold;}

.Drrcol{width:160px; float:right; font-weight:normal; color:#000; text-align: left;}
.Drlcol{width:150px; float:left;}



  tr.empty, td.empty { border: none; }
 
 tr.empty:first-child td.empty:first-child { border: none; }
 tr.empty:first-child td.empty:last-child { border: none; }
 tr.empty:last-child td.empty:first-child { border: none; }
 tr.empty:last-child td.empty:last-child { border: none; }
 tr.empty:first-child td.empty { border: none; }
 tr.empty td.empty:first-child { border: none; }
 
tr.semester_headers {color: #FFFFFF;}
.semester_headers td {
    background: none repeat scroll 0 0 #AAAAAA;
    font-weight: bold;
}

/*.withFilters tr .shadow{
	    border-bottom: 1px solid #dddddd;
    border-radius: 0 10px 10px 0;
    border-right: 15px solid #dddddd;
    box-shadow: 6px 9px 8px -6px #5D5C5C;
    height: 100%;
    margin-left: -4px;
    margin-top: -5px;
    text-align: end;
    width: 101%;
	font-size: 12px;
	padding-bottom: 8px;
	background: none repeat scroll 0 0 #FFFFFF;
	background: none repeat scroll 0 0 #FFFFFF;
}
*/
.withFilters tr.tt > td:not(.dataExpanded) {
	  background-color: #FFFfef;    
}
/*
.withFilters tr.tt .shadow{
	    border-bottom: 1px solid #dddddd;
    border-radius: 0 10px 10px 0;
    border-right: 15px solid #FABE25;
    box-shadow: 6px 9px 8px -6px #5D5C5C;
	background-color: #FFFfef;    
    margin-left: -4px;
    margin-top: -5px;
    text-align: end;
    width: 101%;
	color: #91332E;
	font-size: 12px;
	height: 100%;
	
}
*/
	tbody.semester{
	cursor: pointer;
}
/*
.shadow {
	 font-weight: bold;
	 border-left: 1px solid #dddddd;
	 border-bottom: 1px solid #dddddd;
	 border-top: 1px solid #dddddd;
	 min-height: 200px;
	 height: 100%;
}
.shadow span{
	 font-weight: normal;
	 font-size: 14px;
	 color:#000;
}
*/
/*
.withFilters tr.tn td:not(.dataExpanded) {
	background-color: #ffe8e3;
	
}
.withFilters tr.nt .shadow{
	    border-bottom: 1px solid #dddddd;
    border-radius: 0 10px 10px 0;
    border-right: 15px solid #dddddd;
    box-shadow: 6px 9px 8px -6px #5D5C5C;
	background-color: #ffffff;
    margin-left: -4px;
    margin-top: -5px;
    text-align: end;
    width: 101%;
	color: #d9261c;	
	font-size: 12px;
	height: 100%;

}

.withFilters tr.tn .shadow{
	    border-bottom: 1px solid #dddddd;
    border-radius: 0 10px 10px 0;
    border-right: 15px solid #d9261c;
    box-shadow: 6px 9px 8px -6px #5D5C5C;
	background-color: #ffe8e3;
    margin-left: -4px;
    margin-top: -5px;
    text-align: end;
    width: 101%;
	color: #d9261c;	
	font-size: 12px;
	height: 100%;

}


.withFilters tr.nn td:not(.dataExpanded) {background-color: #e5ffe5;}


.withFilters tr.nn .shadow{
	  border-bottom: 1px solid #dddddd;
    border-radius: 0 10px 10px 0;
    border-right: 15px solid #468d33;
    box-shadow: 6px 9px 8px -6px #5D5C5C;
	background-color: #e5ffe5;
    margin-left: -4px;
    margin-top: -5px;
    text-align: end;
    width: 101%;
	color: #468d33;
	font-size: 12px;
	height: 100%;

}
*/

 
div.flash-error, div.flash-notice, div.flash-success
{
	padding:.8em;
	margin-bottom:1em;
	border:2px solid #ddd;
}

div.flash-error
{
	background:#FBE3E4;
	color:#8a1f11;
	border-color:#FBC2C4;
}

div.flash-notice
{
	background:#FFF6BF;
	color:#514721;
	border-color:#FFD324;
}

div.flash-success
{
	background:#E6EFC2;
	color:#264409;
	border-color:#C6D880;
}

div.flash-error a
{
	color:#8a1f11;
}

div.flash-notice a
{
	color:#514721;
}

div.flash-success a
{
	color:#264409;
}

div.form .rememberMe label
{
	display: inline;
}

div.view
{
	padding: 10px;
	margin: 10px 0;
	border: 1px solid #C9E0ED;
}


.error{color:red;}
div.login
{
	float: right;
    font-size: 12px;
    padding: 5px 20px;
    text-align: right;
	color: #969494;
	height: 35px;
}

div.breadcrumbs span
{
	font-weight: bold;
}

div.search-form
{
	padding: 10px;
	margin: 10px 0;
	background: #eee;
}

.operations
{
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.operations li
{
	padding-bottom: 2px;
}

.operations li a
{
	font: bold 12px Arial;
	color: #0066A4;
	display: block;
	padding: 2px 0 2px 8px;
	line-height: 15px;
	text-decoration: none;
}

.operations li a:visited
{
	color: #0066A4;
}

.operations li a:hover
{
	background: #80CFFF;
}

#pageOverlay, #pageOverlay2 {
    position: fixed; 
    top:0; 
    left:0; 
    width: 100%; 
    height: 100%;
    background: #000000;
    z-index: 9000; 
    -moz-opacity: 0.7;
    opacity: 0.7;
    filter: alpha(opacity=70);
}

#pageOverlayTransparent {
    position: fixed; 
    top:0; 
    left:0; 
    width: 100%; 
    height: 100%;
    z-index: 1000;
}

#pageAjaxLoadingInfo {
    background: url('../../images/status.gif') no-repeat top; 
    width: 200px; 
    height: 100px; 
    position: fixed; 
    top: 50%; 
    left: 50%; 
    margin-left: -100px; 
    margin-top: -50px; 
    padding-top: 110px; 
    font-weight: bold; 
    text-align: center; 
    font-size: 1.1em;
    z-index: 9001;
    color: #fff;	
    background-position: center;
}


#overlayContainer, #overlayContainer2 {
    background-color: #FFFFFF;
    border: 5px solid #000000;
    left: 0;
    margin: 50px auto 20px;
    position: fixed;
    right: 0;
    bottom: 0;
    width: 750px;
	height: 90%;
	overflow: hidden;
}

#overlayContainer {
    z-index: 9999;
}

#overlayContainer2 {
    z-index: 10001;
}

#overlayContent{
	padding: 20px;
}

.overlayCloseButton {
    background: url('../../images/close.png');
    height: 32px;
    position: absolute;
    right: 15px;
    top: 10px;
    width: 32px;
	cursor: pointer;
	z-index:10;
}

#containerOverlay {
    position: absolute; 
    top:0; 
    left:0; 
    width: 100%; 
    height: 100%;
    background: #fff;
    z-index: 9000; 
    -moz-opacity: 0.7;
    opacity: 0.7;
    filter: alpha(opacity=70);
}

#containerAjaxLoadingInfo {
    background: url('../../images/status.gif') no-repeat top; 
    width: 200px; 
    height: 100px; 
    position: absolute; 
    top: 80px; 
    left: 50%; 
    margin-left: -100px; 
    margin-top: -50px; 
    padding-top: 110px; 
    font-weight: bold; 
    text-align: center; 
    font-size: 1.1em;
    z-index: 9001;
    color: #000;	
}

.tdAjaxLoadingInfo {
	background: url('../../images/ajax-loader-mini.png') no-repeat right center;
	display: inline-block;
    height: 16px;
    line-height: 20px;
    margin-left: 5px;
    width: 16px;
}

div.smallAjaxLoader {
	background: url("../../images/ajax-loader-mini.png") no-repeat center center hsla(69, 0%, 44%, 0.8);
	position: absolute;
}

#instructions {
	list-style-type: none;
	background-color: transparent;
	margin-top: 20px;
}

#instructions li {
	line-height: 32px;
	padding-left: 32px;
	background-repeat: no-repeat;
	background-position: center left;
}

#instructions .pdf {
	background-image: url('../../images/icon_pdf.png');
}

tr.reklamacja {
	background-color: #FFE8E3;
}