@media only screen and (max-width: 1200px) {

	div.komentarzOcenyBox .komentarzOceny {
  
    left: 1%;
    line-height: 16px;
    margin-right: 0;
    margin-top: 1px;
    padding: 14px 20px;
    width: 300px;
    z-index: 10;
}

	.rozkladyZajecGodzina:nth-child(2n) {
		display: none;
	}
	
	div.TN {
		border-radius: 0 10px !important;
	}
	
	div.TP {
		border-radius: 10px 0 !important;
	}
	
	.rozklady_kurs {
		padding: 0 3px !important;
	}
	
	.rozklady_kurs p {
		font-size: 9px !important;
	}
	
	.rozkladyZajecGodzina {
		font-size: 0.8em;
	}
	
	.rozkladyZajecDzienTekst {
		font-size: 0.8em;
		margin-top: 2% !important;
	}
	
	.wyszukiwarka #szukaj {
		display: inline;
		width: 86%;
		margin-bottom: 10px;
	}

	table#grupyZajec tr.szczegoly td .leftColumn, table#grupyZajec tr.szczegoly td .rightColumn {
		width: 100%;
		float: none;
	}

	#tab-2 .col-sm-7,#tab-2	.col-sm-5, #tab-2 .col-sm-10 {
		width: 100%;
	}

	#tab-2	.col-sm-2 {
		width: 100%;
	}

}

@media only screen and (max-width: 1024px) {
	.container_top .row {
		text-align: right;
	}

	.container_top .col-sm-3 {
		text-align: left;
	}

	.col-sm-1.mmenu, .col-sm-8.mmenu {
		float: none;
		display: inline-block;
	}

	.dane-rza.out {
		display: none;
	}

	.mobile.out {
		display: block;
	}

	.col-sm-8 {
		width: auto;
	}

	.margin-left {
		margin: 0 18px 0 0;
	}

	#mainmenu {
		float: right;
		height: auto;
		width: auto;
	}

	.dark input[type="text"], .wybor_pk {
		margin: 0 10px;
	}

	div.breadcrumbs {
		margin-bottom: 0;
	}

	#skin-select {
		padding-top: 15px;
	}

	#skin-select #toggle {
		top: 0;
	}

	.tabs-left > li, .tabs-right > li {
		border: 0 none;
		display: inline-block;
		float: none;
		margin: 1% 1% 1% 0;
		width: 100%;
		border-radius: 4px;
	}

	.wyszukiwarka #szukaj {
		display: inline;
		width: 76%;
	}

	.col-sm-9, .col-sm-3 {
		width: auto;
	}
.col-sm-3.stat {
		width: 90%;
	}
	.dark {
		position: relative;
		right: 0;
		top: -7px;
		width: 97%;
		z-index: 1;
	}

	.wybor_pk {
		width: 100%;
	}

	.dark input[type="text"], .wybor_pk {
		padding: 0;
	}

	.sub-board {
		height: 110px;
	}

	#skin-select {
		top: 215px;
	}

	#tab-2 .mobile {
		display: block;
	}

	#tab-2 .mobile div.zdarzenieAkcje {
		background: #f5f5f5 none repeat scroll 0 0;
		border-bottom: 1px solid #ddd;
		color: #111;
		font-size: 13px;
		line-height: 1.6em;
		margin: 0 0 20px;
		padding: 15px;
	}

	#sluchacz-search-grid table tbody td.ocenaSluchacza {
		min-width: 170px;
	}
}

@media only screen and (max-width: 940px) {
	
	

	.portlet-content {
		margin-top: 10px;
	}

	.navbar-nav .open .dropdown-menu {
		margin: 0!important;
	}

	.navbar-nav .open .dropdown-menu > li > a {
		line-height: 20px;
		color: #fff!important;
	}

	.navbar-nav .open .dropdown-menu > li > a:hover {
		background: black;
	}

	#skin-select #toggle.active, #skin-select #toggle {
		visibility: hidden!important;
	}

	#skin-select {
		width: 50px!important;
	}

	.wrap-fluid {
		width: auto!important;
		margin-left: 50px!important;
		padding: 10px;
	}

	#skin-select ul li span, .portlet-decoration, .tooltipster-base, .top-newsticker, .devider-title h3, ul.topnav h4, .side-dash, .noft-blue, .noft-purple-number, .noft-blue-number {
		display: none!important;
	}

	#skin-select ul ul li span {
		display: block !important;
	}

	ul.topnav ul {
		position: absolute!important;
		right: -180px!important;
		width: 180px!important;
		margin-top: -38px!important;
	}

	#skin-select li i {
		top: 0!important;
		left: -11px!important;
		padding: 8px 0!important;
	}
}

@media only screen and (max-width: 768px) {

.stat{
 min-width: 100px; 
display: block;
}

.stat ul {
    line-height: 30px;
    margin: 10px 0 20px;
    padding-left: 0;
    width: 92%;
}



	/*#rza.rza_siatka, .legendaRozkladuZajec, .legendaRozkladuZajec, .tyg .godziny, .tyg .rozkladyNaglowek, .tyg .zajecia, .tyg .legendaRozkladuZajec, .rozkladyPasekGodziny {
		display: none;
	}

	.dane-rza .zajeciaTabela, .tyg #rza.rza_siatka {
		display: block;
	}*/

	#rozkladyLegenda div {
		font-size: 0.75em;
	}
	
	#rozkladyLegenda div {
		width: 72px !important;
	}
	
	#header.row {
		text-align: right;
	}

	#pokazZdarzenia input, #pokazZdarzenia label {
		display: inline-block;
	}

	.summary select {
		margin-right: 0;
	}

	.summary span, .summary .rezultaty {
		float: left;
	}

	#sluchacz-search-grid span.additionalSummaryField br {
		display: none;
	}

	.additionalSummaryField {
		display: block;
		width: 100%;
	}

	#sluchacz-search-grid span.additionalSummaryField label {
		border-right: 1px solid #a6b7be;
		margin-right: 1%;
		padding-right: 1%;
	}

	#overlayContent th img {
		float: none;
		width: 90%;
	}

	#generatory {
		display: inline-block;
		float: none;
		margin-right: 0;
		margin-top: 15px;
	}

	.data_uwaga {
		float: none;
		width: 100%;
	}

	.navbar-nav .open .dropdown-menu > li > a:hover {
		background: black;
	}

	body {
		padding: 10px;
		overflow-x: hidden;
	}

	.navbar-nav .open .dropdown-menu {
		margin: 0!important;
	}

	.navbar-nav .open .dropdown-menu > li > a {
		line-height: 20px;
		color: #fff!important;
	}

	#skin-select #toggle.active, #skin-select #toggle {
		visibility: hidden!important;
	}

	#skin-select {
		width: 50px!important;
	}

	.wrap-fluid {
		width: auto!important;
		margin-left: 50px!important;
		padding: 10px;
	}

	#skin-select ul li span, .portlet-decoration, .tooltipster-base, .top-newsticker, .devider-title h3, ul.topnav h4, .side-dash, .noft-blue, .noft-purple-number, .noft-blue-number {
		display: none!important;
	}

	#skin-select ul ul li span {
		display: block !important;
	}

	ul.topnav ul {
		position: absolute!important;
		right: -180px!important;
		width: 180px!important;
		margin-top: -38px!important;
	}

	#skin-select li i {
		top: 0!important;
		left: -11px!important;
		padding: 8px 0!important;
	}

	.nav-bg-trans {
		padding: 0 10px!important;
		z-index: 5000;
	}

	.navbar-default .navbar-collapse, .navbar-default .navbar-form {
		border-color: #111!important;
		overflow-x: hidden;
	}

	.sub-board {
		margin-left: 50px!important;
	}

	.margin-left {
		margin: 0px 25px 0 0;
		float: right;
		display: inline-block;
	}

	.margin-left li {
		position: relative;
		display: inline-block;
		float: left;
		margin: 0 -6px 0 0 !important;
	}

	.logo-text {
		font-size: 20px;
		top: -8px!important;
		left: 50px;
	}

	.date-list {
		margin-top: 16px;
		font-size: 12px;
		display: inline-flex;
		margin-right: 0px;
	}

	.noft-btn, .admin-pic, .dropdown-setting:after {
		display: none;
	}

	.navbar-nav > li > a {
		border-top: 1px solid rgba(0, 0, 0, 0.4);
	}

	.dropdown-setting {
		background: rgba(0, 0, 0, 0.3)!important;
	}

	.nav .open > a, .nav .open > a:hover, .nav .open > a:focus {
		background-color: #eee;
		border-color: transparent!important;
	}

	.nav>li>a:hover, .nav>li>a:focus {
		background-color: transparent!important;
		color: #fff!important;
	}

	.navbar-nav > .notifications-menu > .dropdown-menu > li.header, .navbar-nav > .messages-menu > .dropdown-menu > li.header, .navbar-nav > .tasks-menu > .dropdown-menu > li.header {
		width: 286px;
	}

	li.footer-green, li.footer-blue, li.footer-red {
		width: 286px;
	}

	#menuwrapper ul li:hover ul, #menuwrapper ul li.iehover ul {
		top: 38px;
	}
		/*------------------------------------------------------------------------------------*/
	.row {
		margin-left: 0px;
		margin-right: 0px;
	}

	.navbar-right .margin-left {
		float: left;
	}

	div.breadcrumbs {
		margin-bottom: 0;
	}

	.dark {
		position: relative;
		right: 0;
		top: -21px;
		width: 93%;
		z-index: 1;
	}

	.sbHolder {
		border-left: 0px solid #c2c1c1;
		width: 97%;
	}

	.mobile {
		display: none;
	}
}

@media only screen and (max-width: 640px) {

.navbar-nav{
	margin:0px;
}

	#overlayContent #design_1  th {
		width: auto;
	}

	.dane-rza {
		overflow-x: scroll;
		padding-top: 5%;
	}
	
	#rza, 
	#rozkladyLegenda {
		width: 465px;
	}
	
	#sluchacz-search-grid span.additionalSummaryField br {
		display: block;
	}

	#sluchacz-search-grid span.additionalSummaryField label {
		border-right: 0px solid #a6b7be;
		margin-right: 1%;
		padding-right: 1%;
	}

	#home-login-menu {
		float: none;
		max-width: 374px;
		margin: 0 0 0 -10%;
	}

	.margines {
		padding: 0px;
		max-width: 100%;
	}

	.tabs-left > li, .tabs-right > li {
		margin: 1% 1% 1% 0;
		width: 100%;
	}

	.dane-rza {
		display: block;
	}
	/*
	.mobile{display: block;}
	*/
	.dane-content .col-lg-3 {
		width: 100%;
	}

	.tab-content {
		padding: 0;
	}
	
	#mainmenu ul {
    list-style: outside none square;
    margin: 0;
    padding: 0;
    text-align: center;
}
#mainmenu ul .btn {
    margin-bottom: 2px;
}
.mmenu  .drop-btn {
margin-bottom: 6px;
}
	
}

@media only screen and (max-width: 480px) {
	body {
		padding: 0px;
	}
	.paper-wrap {
		margin-top: 0px;
	}
	.logo-text {
		font-size: 16px;
	}
	.well {
		padding:5px;
	}
	
	.page_error_text {
    display: block;
    font-size: 17px;
    font-weight: 400;
    line-height: 35px;
    margin: 22px 0 30px;
    text-align: center;
    width: 100%;
}

.page_error_code {
    display: block;
    font-size: 44px;
    font-weight: 400;
    line-height: 64px;
    margin: 0;
    text-align: center;
    width: 100%;
}

.col-xs-offset-2 {
    margin-left: 11.6667%;
}	

.box .box-body {
    padding: 2px;
}
.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12{
padding-left:0px;
padding-right:0px;
}
}